{% extends 'master.html' %}
{% block contenido %}
    {%if alert%}
    <div class="alert alert-dismissible alert-success mt-4">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p class="mb-0">Tus nuevas categorías favoritas se han guardado correctamente.</p>
    </div>
    {% endif %}
    {% if user.is_authenticated and cat > 0 %}
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <div class="row">
                            <div class="mx-auto">
                                <h5>Categorías favoritas</h5>
                                <hr>
                                <form action="/fav-categories" method="POST">
                                {% csrf_token %}
                                {{form_fav_cat}}
                                <div class="row pt-2">
                                    <div class="mx-auto">
                                    <button class="btn btn-dark btn-block text-uppercase mb-2 rounded-pill shadow-sm" 
                                    type="submit">Guardar</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="alert alert-dismissible alert-warning mt-4">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4 class="alert-heading">Vaya, parece que algo ha ido mal:</h4>
            <p class="mb-0">{{msj}}</p>
        </div>
    {% endif %}
{% endblock %}