{% extends 'master.html' %}
{% block contenido %}
<div class="row">
    <div class="col-md-10 col-lg-9 col-xl-9 mx-auto">
        <div class="card card-signin flex-row mt-5 mb-4">
            <div class="card-body">
                <h1 class="text-center">POLÍTICA DE COOKIES</h1>
                <h5 style="margin-bottom: 2rem; margin-top: 4rem;"><strong>¿QUÉ SON LAS COOKIES Y CÓMO LAS UTILIZA CHOLLUP?</strong></h5>
                <p>Las Cookies son archivos que el Sitio web o la aplicación que utiliza instala en su navegador o en su dispositivo (Smartphone, tableta o televisión conectada) durante su recorrido por las páginas o por la aplicación, y sirven para almacenar información sobre su visita. Como la mayoría de los sitios en internet, el portal web de BotGen utiliza Cookies para:</p>
                <ul>
                    <li>Asegurar que las páginas web pueden funcionar correctamente.</li>
                    <li>Almacenar sus preferencias, como el idioma que ha seleccionado o el tamaño de letra.</li>
                    <li>Conocer su experiencia de navegación.</li>
                    <li>Recopilar información estadística anónima, como qué páginas ha visto o cuánto tiempo ha estado en nuestros medios.</li>
                </ul>
                <p>El uso de Cookies nos permite optimizar su navegación, adaptando la información y los servicios ofrecidos a sus intereses, para proporcionarle una mejor experiencia siempre que nos visite. El Sitio web de BotGen utiliza Cookies para funcionar, adaptar y facilitar al máximo la navegación del Usuario.</p>
                <p>Las Cookies se asocian únicamente a un usuario anónimo y su ordenador/dispositivo y no proporcionan referencias que permitan conocer datos personales. En todo momento podrá acceder a la configuración de su navegador para modificar y/o bloquear la instalación de las Cookies enviadas por el Sitio web de BotGen, también podrá hacerlo de forma granular desde el panel de configuración de cookies que se despliega al presionar sobre el botón con forma de galleta en la parte inferior derecha de la pantalla, sin que ello impida al acceso a los contenidos. Sin embargo, la calidad del funcionamiento de los servicios puede verse afectada.</p>
                <p>Los Usuarios que completen el proceso de registro o hayan iniciado sesión con sus datos de acceso podrán acceder a servicios personalizados y adaptados a sus preferencias según la información personal suministrada en el momento del registro y la almacenada en la Cookie de su navegador.</p>
                <h5 style="margin-bottom: 2rem; margin-top: 4rem;"><strong>¿POR QUÉ SON IMPORTANTES LAS COOKIES?</strong></h5>
                <ul>
                    <li>Desde un punto de vista técnico, permiten que el Sitio web funcione de forma más ágil y adaptada a las preferencias de los usuarios, como por ejemplo almacenar el idioma, la moneda del país o detectar el dispositivo de acceso.</li>
                    <li>Establecen niveles de protección y seguridad que impiden o dificultan ciberataques contra el Sitio web o sus usuarios.</li>
                    <li>Permiten que los gestores de los medios puedan conocer datos estadísticos recopilados en las Cookies para mejorar la calidad y experiencia de sus servicios.</li>
                </ul>
                <h5 style="margin-bottom: 2rem; margin-top: 4rem;"><strong>¿QUÉ TIPO DE COOKIES UTILIZAMOS EN BOTGEN?</strong></h5>
                <ol>
                    <li>Cookies “analíticas”: Con propósitos de mantenimiento periódico, y en aras de garantizar el mejor servicio posible al usuario, este sitio web hace uso de cookies “analíticas” para el recabado de estadísticas de actividad. La información recabada será en todo caso anónima, no siendo posible establecer vínculo alguno entre patrones de navegación y personas físicas. El usuario podrá excluir su actividad individual mediante los sistemas de exclusión facilitados por los propios proveedores de los sistemas de análisis que utilizan estas cookies, como Google Analytics. Es posible que esta web utilice varios de dichos sistemas, y puede consultar la lista completa en el listado de cookies al final de este documento. </li>
                    <li>Otras cookies de uso interno: Además, esta web puede usar diversas cookies para el mantenimiento de sesiones de usuario entre diferentes “logins” a las áreas privadas o de autogestión facilitadas. Su desactivación ocasiona normalmente molestias al usuario en forma de funcionalidades bloqueadas, y son por tanto cookies necesarias para el funcionamiento de este sitio. Nuevamente, puede consultar la lista completa en el listado de cookies al final de este documento. </li>
                </ol>
                <h5 style="margin-bottom: 2rem; margin-top: 4rem;"><strong>RELACIÓN Y DESCRIPCIÓN DE COOKIES. NIVELES DE INTRUSIVIDAD:</strong></h5>
                <p>La tabla que aquí sigue esquematiza las cookies arriba expuestas, incorporando un criterio de “nivel de intrusividad” apoyado en una escala del 1 al 3, en la que:</p>
                <p>Nivel 1: se corresponde con cookies de uso interno imprescindibles para el funcionamiento del sitio web y, por tanto, la prestación del servicio solicitado por el usuario, así como cookies gestionadas por terceros con la única finalidad de permitir el correcto funcionamiento de complementos externos de contenido y, por tanto, necesarias para la correcta visualización de este sitio web.</p>
                <p>Nivel 2: se corresponde con cookies anónimas, analíticas, de uso interno, necesarias para el mantenimiento de contenidos y navegación, y exclusivamente gestionadas por este sitio web.</p>
                <p>Nivel 3: se corresponde con cookies gestionadas por terceros que permiten el seguimiento del usuario a través de otras webs o servicios.</p>
                <h5 style="margin-bottom: 2rem; margin-top: 4rem;"><strong>COOKIES USADAS EN ESTE SITIO WEB, INDICANDO EL GESTOR DE LAS MISMAS CUANDO ES UN TERCERO:</strong></h5>
                <p><strong>Cookie: </strong>sessionid</p>
                <p><strong>Duración: </strong>2 semanas</p>
                <p><strong>Propósito: </strong>Cookie propia. Mantenimiento de la sesión de usuario a lo largo de la web y formularios</p>
                <p><strong>Intrusividad: </strong>nivel 1</p>
                <hr>
                <p><strong>Cookie: </strong>csrftoken</p>
                <p><strong>Duración: </strong>1 año</p>
                <p><strong>Propósito: </strong>Cross-Site Request Forgery (CSRF) es un ataque que obliga a un usuario a realizar acciones no deseadas en un sitio web (por ejemplo, sus datos podrían ser secuestrados y utilizados para realizar tareas). Esta cookie es necesaria para proteger a los usuarios de un ataque CSRF y nos permite enmascarar sus datos.</p>
                <p><strong>Intrusividad: </strong>nivel 1</p>
                <hr>
                <p><strong>Cookie: </strong>_ga</p>
                <p><strong>Duración: </strong>2 años</p>
                <p><strong>Propósito: </strong>Cookie analítica. Se usa para diferenciar entre usuarios y sesiones. La cookie se crea al cargar la librería javascript y no existe una versión previa de la cookie _ga. La cookie se actualiza cada vez que envía los datos a Google Analytics.</p>
                <p><strong>Intrusividad: </strong>nivel 2</p>
                <hr>
                <p><strong>Cookie: </strong>_ga_*</p>
                <p><strong>Duración: </strong>2 años</p>
                <p><strong>Cookie: </strong>Cookie analítica. Se usa para almacenar información anónima del usuario.</p>
                <p><strong>Intrusividad: </strong>nivel 2</p>
                
                
                <h5 style="margin-bottom: 2rem; margin-top: 4rem;"><strong>¿CÓMO PUEDO DESACTIVAR O ELIMINAR ESTAS COOKIES?</strong></h5>
                <p>El usuario podrá en cualquier momento elegir qué cookies quiere que funcionen en este sitio web mediante, por ejemplo, la configuración del navegador:</p>
                <ul>
                    <li>Para más información sobre Microsoft Internet Explorer <a href="http://windows.microsoft.com/es-419/internet-explorer/delete-manage-cookies#ie=ie-11">pulse aquí</a> </li>
                    <li>Para más información sobre Mozilla Firefox <a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we#w_lcahmo-cambio-la-configuraciahn-de-las-cookies">pulse aquí</a></li>
                    <li>Para más información sobre Google Chrome <a href="https://support.google.com/accounts/answer/61416?hl=es">pulse aquí</a></li>
                    <li>Para más información sobre Safari <a href="https://support.apple.com/es-es/guide/safari/sfri11471/mac">pulse aquí</a></li>
                </ul>
                <h5 style="margin-bottom: 2rem; margin-top: 4rem;"><strong>QUÉ OCURRE SI SE DESHABILITAN LAS COOKIES</strong></h5>
                <p>Algunas funcionalidades de los Servicios quedarán deshabilitadas.</p>
                <h5 style="margin-bottom: 2rem; margin-top: 4rem;"><strong>ACTUALIZACIÓN DE NUESTRA POLÍTICA DE COOKIES</strong></h5>
                <p>Es posible que actualicemos la Política de Cookies de nuestro Sitio web, por ello le recomendamos revisar esta política cada vez que acceda al mismo con el objetivo de estar adecuadamente informado sobre cómo y para qué usamos las cookies. </p>
            </div>
        </div>
    </div>
</div>

           
{% endblock %}